<!--Beginning Main Web Page-->

<!--Find Activity Page-->
<div id="find_activity_page" data-role="page"> 
  <!--Navigation Bar-->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div data-role="header">
              <h1>
                Group Activity Planner
              </h1>
              <div data-type="horizontal" data-group="controlgroup" class="ui-btn-right">
                <a href="/login" id="login_button" type="submit" name="login" value="Login" data-inline="true" data-theme="a" data-role="button">Login</a>
                <a href="/users/add" id="sign_up_button" type="submit" name="signup" value="Sign Up" data-inline="true" data-theme="a" data-role="button">Sign Up</a>
              </div>
            </div>
          </div>
        </div>

    <!--Find Activity Content (For modularity)-->
    <div id="find_activity" class="box" data-role="content">

      <div id="message_box" class="message"></div>     
        <form>
          <div>
            <center>
              <div data-role="controlgroup" data-type="horizontal" id="create_and_find_button">
                <!--Find Activity Button-->
                <a href="#find_activity_page" data-role="button" data-theme="c" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-down-c ui-btn-up-c ui-btn-active" data-transition="slide">
                  <span class="ui-btn-inner ui-btn-corner-all">
                    <span class="ui-btn-text">Find Activity</span>
                  </span>
                </a>
                <!--Create Activity Button-->
                <a href="#create_activity_page" data-role="button" data-theme="c" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-down-c ui-btn-up-c" data-transition="slide">
                 <span class="ui-btn-inner ui-btn-corner-all">
                    <span class="ui-btn-text">Create Activity</span>
                  </span>
                </a>
              </div>
            </center>
          </div>

          <!-- Number of People -->
          <label>Number of Participants: </label>
          <div class="ui-grid-c my-breakpoint">
            <div class="ui-block-a">
              <label for="low_num_participants" class="grid_label">Min: </label>
            </div>
            <div class="ui-block-b">
              <input type="number" name="low_num_participants" id="low_num_participants" value="1" pattern="[0-9]*" min="0" max="9999999" />
            </div>
            <div class="ui-block-c">
              <label for="high_num_participants" class="grid_label">Max: </label>
            </div>
            <div class="ui-block-d">
              <input type="number" name="high_num_participants" id="high_num_participants" value="1" pattern="[0-9]*" min="0" max="9999999" />
            </div>
          </div>

          <!-- Date Range -->
          <div data-role="fieldcontain">
            <label for="begin_date">Start Date: </label>
            <input name="begin_date" id="begin_date" type="date" data-role="datebox" data-options='{"mode": "calbox", "useNewStyle": true, "useTodayButton": true}'>
          </div>
          <div data-role="fieldcontain">
            <label for="end_date">End Date: </label>
            <input name="end_date" id="end_date" type="date" data-role="datebox" data-options='{"mode": "calbox", "useNewStyle": true, "useTodayButton": true}'>
          </div>

          <!-- Time Range -->
          <center>
          <fieldset data-role="controlgroup" data-type="horizontal">
            <input type="radio" name="time_range" id="radio-view-a" value="start_end" checked="checked" />
            <label for="radio-view-a">Set Time</label>
            <input type="radio" name="time_range" id="radio-view-b" value="day_time" />
            <label for="radio-view-b">Day Time</label>
            <input type="radio" name="time_range" id="radio-view-c" value="night_time" />
            <label for="radio-view-c">Night Time</label>
            <input type="radio" name="time_range" id="radio-view-d" value="any_time" />
            <label for="radio-view-d">Any Time</label>
          </fieldset>
          </center>
          <div id="start_end_range">
            <div data-role="fieldcontain">
              <label for="start_time">Start Time: </label>
              <input name="start_time" id="start_time" type="date" data-role="datebox" data-options='{"mode": "timeflipbox", "useNewStyle": true}'>
            </div>
            <div data-role="fieldcontain">
              <label for="end_time">End Time: </label>
              <input name="end_time" id="end_time" type="date" data-role="datebox" data-options='{"mode": "timeflipbox", "useNewStyle": true}'>
            </div>
            <div data-role="fieldcontain">
              <label for="duration">Duration (Mins): </label>
              <input type="number" name="duration" id="duration" value="30" pattern="[0-9]*" min="0" max="9999999" />
            </div>
          </div>

          <!-- Price Range -->
          <label>Price Range (Dollars): </label>
          <div class="ui-grid-c my-breakpoint">
            <div class="ui-block-a">
              <label for="low_price" class="grid_label">Min: </label>
            </div>
            <div class="ui-block-b">
              <input type="number" name="low_price" id="min_price" value="1" pattern="[0-9]*" min="0" max="9999999" />
            </div>
            <div class="ui-block-c">
              <label for="max_price" class="grid_label">Max: </label>
            </div>
            <div class="ui-block-d">
              <input type="number" name="max_price" id="max_price" value="1" pattern="[0-9]*" min="0" max="9999999" />
            </div>
          </div>

          <!-- Location -->
          <div data-role="fieldcontain">
            <label for="location_input">Location: </label>
            <input id="location_input" name="location_input" type="address" placeholder="Starting Location" />
          </div>
          <div data-role="fieldcontain">
            <label for="distance">Distance (Miles): </label>
            <input type="number" name="distance" id="distance" value="0" pattern="[0-9]*" min="0" max="999999999999" />
          </div>

          <!-- Category -->
          <div data-role="fieldcontain">
            <label for="category" class="select">Category: </label>
            <select name="category" id="category">
               <option value="sports">Sports</option>
               <option value="food">Food</option>
               <option value="entertainment">Entertainment</option>
               <option value="arts">Arts</option>
               <option value="nature">Nature</option>
            </select>
          </div>
          <input id="find_activity_button" type="submit" value="Find Activities" data-role="button" data-icon="home" data-theme="b">
        </form>
  </div>
  </div>

<!--Create Activity Page -->
<div data-role="page" id="create_activity_page">

<!--Navigation Bar-->
<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div data-role="header">
              <h1>
                Group Activity Planner
              </h1>
              <div data-type="horizontal" data-group="controlgroup" class="ui-btn-right">
                <a href="/login" id="login_button" type="submit" name="login" value="Login" data-inline="true" data-theme="a" data-role="button">Login</a>
                <a href="/users/add" id="sign_up_button" type="submit" name="signup" value="Sign Up" data-inline="true" data-theme="a" data-role="button">Sign Up</a>
              </div>
            </div>
          </div>
        </div>
  <!--Create Activity Content (For modularity)-->
    <div id="create_activity" class="box" data-role="content">
      <div id="message_box" class="message"></div>
        <form>
          <div>
            <center>
              <div data-role="controlgroup" data-type="horizontal">
                <!--Find Activity Button-->
                <a href="#find_activity_page" data-role="button" data-theme="c" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-down-c ui-btn-up-c" data-transition="slide">
                  <span class="ui-btn-inner ui-btn-corner-all">
                    <span class="ui-btn-text">Find Activity</span>
                  </span>
                </a>
                <!--Create Activity Button-->
                <a href="#create_activity_page" data-role="button" data-theme="c" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-down-c ui-btn-up-c ui-btn-active" data-transition="slide">
                 <span class="ui-btn-inner ui-btn-corner-all">
                    <span class="ui-btn-text">Create Activity</span>
                  </span>
                </a>
              </div>
            </center>
          </div>

          <!--Activity Name-->
          <div data-role="fieldcontain">
              <label for="name">Activity Name: </label>
              <input type="text" name="name" id="activity_name" value=""  />
          </div>


          <!--Activity Description-->
          <label for="textarea-a">Activity Description: </label>
            <textarea name="textarea" id="activity_description" placeholder="Write a description of the activity you are thinking of..."></textarea>


          <!-- Number of People -->
          <label>Number of Participants: </label>
          <div class="ui-grid-c my-breakpoint">
            <div class="ui-block-a">
              <label for="low_num_participants" class="grid_label">Min: </label>
            </div>
            <div class="ui-block-b">
              <input type="number" name="low_num_participants" id="low_num_participants" value="1" pattern="[0-9]*" min="0" max="9999999" />
            </div>
            <div class="ui-block-c">
              <label for="high_num_participants" class="grid_label">Max: </label>
            </div>
            <div class="ui-block-d">
              <input type="number" name="high_num_participants" id="high_num_participants" value="1" pattern="[0-9]*" min="0" max="9999999" />
            </div>
          </div>

          <!-- Date Range -->
          <div data-role="fieldcontain">
            <label for="begin_date">Start Date: </label>
            <input name="begin_date" id="begin_date" type="date" data-role="datebox" data-options='{"mode": "calbox", "useNewStyle": true, "useTodayButton": true}'>
          </div>
          <div data-role="fieldcontain">
            <label for="end_date">End Date: </label>
            <input name="end_date" id="end_date" type="date" data-role="datebox" data-options='{"mode": "calbox", "useNewStyle": true, "useTodayButton": true}'>
          </div>

          <!-- Time Range -->
          <center>
          <fieldset data-role="controlgroup" data-type="horizontal">
            <input type="radio" name="time_range" id="radio-view-a" value="start_end" checked="checked" />
            <label for="radio-view-a">Set Time</label>
            <input type="radio" name="time_range" id="radio-view-b" value="day_time" />
            <label for="radio-view-b">Day Time</label>
            <input type="radio" name="time_range" id="radio-view-c" value="night_time" />
            <label for="radio-view-c">Night Time</label>
            <input type="radio" name="time_range" id="radio-view-d" value="any_time" />
            <label for="radio-view-d">Any Time</label>
          </fieldset>
          </center>
          <div id="start_end_range">
            <div data-role="fieldcontain">
              <label for="start_time">Start Time: </label>
              <input name="start_time" id="start_time" type="date" data-role="datebox" data-options='{"mode": "timeflipbox", "useNewStyle": true}'>
            </div>
            <div data-role="fieldcontain">
              <label for="end_time">End Time: </label>
              <input name="end_time" id="end_time" type="date" data-role="datebox" data-options='{"mode": "timeflipbox", "useNewStyle": true}'>
            </div>
            <div data-role="fieldcontain">
              <label for="duration">Duration (Mins): </label>
              <input type="number" name="duration" id="duration" value="30" pattern="[0-9]*" min="0" max="9999999" />
            </div>
          </div>

          <!-- Price Range -->
          <label>Price Range (Dollars): </label>
          <div class="ui-grid-c my-breakpoint">
            <div class="ui-block-a">
              <label for="low_price" class="grid_label">Min: </label>
            </div>
            <div class="ui-block-b">
              <input type="number" name="low_price" id="min_price" value="1" pattern="[0-9]*" min="0" max="9999999" />
            </div>
            <div class="ui-block-c">
              <label for="max_price" class="grid_label">Max: </label>
            </div>
            <div class="ui-block-d">
              <input type="number" name="max_price" id="max_price" value="1" pattern="[0-9]*" min="0" max="9999999" />
            </div>
          </div>

          <!-- Location -->
          <div data-role="fieldcontain">
            <label for="location_input">Location: </label>
            <input id="location_input" name="location_input" type="address" placeholder="Starting Location" />
          </div>
          <div data-role="fieldcontain">
            <label for="distance">Distance (Miles): </label>
            <input type="number" name="distance" id="distance" value="0" pattern="[0-9]*" min="0" max="999999999999" />
          </div>

          <!-- Category -->
          <div data-role="fieldcontain">
            <label for="category" class="select">Category: </label>
            <select name="category" id="category">
               <option value="sports">Sports</option>
               <option value="food">Food</option>
               <option value="entertainment">Entertainment</option>
               <option value="arts">Arts</option>
               <option value="nature">Nature</option>
            </select>
          </div>
          <input id="find_activity_button" type="submit" value="Find Activities" data-role="button" data-icon="home" data-theme="b">
        </form>
  </div>
</div><!-- /page -->

<%- partial('list', {}) %>