<!--Main Page-->

  <!-- Find Activities Page -->
  <%- partial('../activities/activityForm', {form: {type: 'find'}}) %>
  <!-- Create Activity Page -->
  <%- partial('../activities/activityForm', {form: {type: 'create'}}) %>
  <!-- List Suggested Activities Page -->
  <%- partial('../activities/list', {}) %>
</div>