

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div data-role="header">
      <div data-type="horizontal" data-group="controlgroup" class="ui-btn-left">
        <a href="/" id="back_button" type="submit" type="submit" name="back" value="Back" data-inline="true" data-theme="a" data-role="button">Back</a>
      </div>
      <h1>
        Group Activity Planner
      </h1>
      <div data-type="horizontal" data-group="controlgroup" class="ui-btn-right">
        <a href="/login" id="login_button" type="submit" name="login" value="Login" data-inline="true" data-theme="a" data-role="button">Login</a>
        <a href="/users/add" id="sign_up_button" type="submit" name="signup" value="Sign Up" data-inline="true" data-theme="a" data-role="button">Sign Up</a>
      </div>
    </div>
  </div>
</div>


<div class="hero-unit geddy-welcome-box">
  <h1>Goodbye</h1>
  <p>You've successfully logged out.</p>
  <p><a href="/login">Click here to log back in.</a></p>
</div>
