<div class="control-group">
  <label for="userid" class="control-label">userid</label>
  <div class="controls">
    <%- contentTag('input', comment.userid, {type:'text', class:'span6', name:'userid'}) %>
  </div>
</div>
<div class="control-group">
  <label for="text" class="control-label">text</label>
  <div class="controls">
    <%- contentTag('input', comment.text, {type:'text', class:'span6', name:'text'}) %>
  </div>
</div>
