body {
  padding-top: 60px;
  padding-bottom: 40px;
  background: url('../img/whitey.png');
}

label {
  font-size: 16px;
}

.navbar-fixed-top {
  box-shadow: 0px 0px 3px #000;
  border-bottom: 1px solid #999;
}

.list-item {
  margin-bottom: 20px;
}

.list-item div {
  background: white;
  border-bottom: 2px solid #ccc;
}

.list-item div > * {
  padding: 20px;
}

.list-item div h3 i {
  margin: 5px;
}

.ui-grid-a .ui-input-datebox {
  width: 70%;
}

#location_input {
  width: 72%;
}

/* Fix Bootstrap's Styling */
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  height: 35px;
}

input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
  width: 100%;
}

@media (max-width: 480px) {
  .hero-unit .pull-right {
    float: none;
    margin-top: 10px;
  }
}

@media (max-width: 50em) {
  .my-breakpoint .ui-block-a, 
  .my-breakpoint .ui-block-b, 
  .my-breakpoint .ui-block-c,
  .my-breakpoint .ui-block-d,
  .my-breakpoint .ui-block-e { 
    width: 100%; 
    float:none; 
  }
}

@media only screen and (min-width: 600px) {
  .ui-field-contain input.ui-input-text, .ui-field-contain textarea.ui-input-text, .ui-field-contain .ui-input-search {
    width: 72%;
  }

  .my-breakpoint.ui-grid-c .ui-block-a,
  .my-breakpoint.ui-grid-c .ui-block-c { width: 9.95%; }
  .my-breakpoint.ui-grid-c .ui-block-b, 
  .my-breakpoint.ui-grid-c .ui-block-d { width: 39.925%; }

  .ui-field-contain label.ui-input-text,
  .ui-field-contain label.ui-select {
    vertical-align: middle;
  }

  .my-breakpoint input.ui-input-text, 
  .my-breakpoint textarea.ui-input-text {
    width: 95%;
  }

  .grid_label {
    text-align: right;
    padding-right: 10px;
    padding-top: 14px;
  }

  #find_activity,
  #create_activity,
  #suggested_activities,
  .activity_detail_content {
    margin:0 auto;
    width: 50%;
    padding-top: 100px;
  }

  .hero-unit {
    margin:0 auto;
    width: 50%;
    padding-top: 100px;
  }


  .form-actions {
    background-color: transparent;
    border-top: 0px;
  }

  div {
    display: block;
  }

  legend {
    text-align: center;
  }

  .list-item div {
    background: white;
    border-bottom: 0px;
    padding: 0px;
  }

  .list-item div > * {
  padding: 0px;
  }

  .button_result_left {
    width : 60%;
    float: left;
  }

  .button_result_right {
    width: 220px;
    float : right;
  }

  /*STYLING BRANDON'S HAIR AKA List Page*/
  .list-item {
      background: #fff;
      margin-bottom: 10px;
      padding: 10px 20px;
      position: relative;
      height : 200px;
      width: 600px;
      box-shadow: rgba(0, 0, 0, 0.4) 0 1px 5px 0px;
      border-radius: 3px;
      margin-bottom: 30px;

  }

  .ui-btn-up-c .button_result {
    font-weight: normal;
    color: #222;
    text-shadow: 0 1px 0 #fff;
  }

  .row-title {
    font-size: 2em;
  }

  .row-description {
    height : 80px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .row-category {
    height : 15px;
    font-size: 1.5em;
    text-align: center;
  }

  .row-address {
    padding: 0px;
  }
  
  .row-price-range {

  }

  .row-num-participants {

  }

  .row-time-range {

  }

  .ui-li.ui-btn {
    margin: 20px;
  }

  /*Error messages for create and add user*/
  .errorMessage{
    color: red;
    text-align: center;
  }
}
