<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div data-role="header">
            <div data-type="horizontal" data-group="controlgroup" class="ui-btn-left">
                <a href="/" id="back_button" type="submit" type="submit" name="back" value="Back" data-inline="true" data-theme="a" data-role="button">Back</a>
              </div>
              <h1>
                Group Activity Planner
              </h1>
              <div data-type="horizontal" data-group="controlgroup" class="ui-btn-right">
                <a href="/login" id="login_button" type="submit" name="login" value="Login" data-inline="true" data-theme="a" data-role="button">Login</a>
                <a href="/users/add" id="sign_up_button" class="ui-btn-active" type="submit" name="signup" value="Sign Up" data-inline="true" data-theme="a" data-role="button">Sign Up</a>
              </div>
            </div>
          </div>
        </div>

<div class="hero-unit">
  <form id="user-form" class="form-horizontal" action="/users" method="POST">
    <fieldset>
      <legend>Create a New User</legend>
      <% if (params.errCode){ %>
        <div class="errorMessage" >
        <% if (params.errCode == 2){ %>
           <p> A user with that username already exists. Please choose another username. </p>
        <% } else { %>
          <% if (params.errCode == 3) { %>
           <p> Your username is not valid. Please choose a username that is not empty and less than 128 characters long. </p>
          <% } else { %>
            <% if (params.errCode == 4) { %>
              <p> Your password is not valid. Please choose a password that is not empty and less than 128 characters long. </p>
            <% } %>
          <% } %>
        <% } %>
      </div>
     <% } %>

      <% if(params.errors) { %>
      <div class="control-group">
        <ul>
        <% for(var err in params.errors) { %>
          <li><%= params.errors[err]; %></li>
        <% } %>
        </ul>
      </div>
      <% } %>
      <%= partial('_form', {user: params}); %>
      <div class="form-actions">
        <%- contentTag('input', 'Add', {type: 'submit', class: 'btn btn-primary'}) %>
      </div>
    </fieldset>
  </form>
</div>
