<!--Event Detail Page -->
<div data-role="page" class="event_detail_page">
  <!-- Include the eventDetail js -->
  <%- scriptLink('/js/event/eventDetail.js', {type:'text/javascript'}) %>
  <!--Navigation Bar-->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div data-role="header">
        <div data-type="horizontal" data-group="controlgroup" class="ui-btn-left">
          <a href="#" onClick="history.back()" id="back_button" name="back" value="Back" data-inline="true" data-theme="a" data-role="button">Back</a>
        </div>
        <h1>
          Group Activity Planner
        </h1>
        <div data-type="horizontal" data-group="controlgroup" class="ui-btn-right">
          <% if (user) {%>
            <p>Welcome: <a href="/events/myevents"><%=user.givenName%> <%=user.familyName%></a>
            <a href="/logout" id="logout_button" target="_parent" type="submit" name="logout" value="Logout" data-inline="true" data-theme="a" data-role="button">Logout</a>
          <% } else { %>
            <a href="/login" id="login_button" target="_parent" type="submit" name="login" value="Login" data-inline="true" data-theme="a" data-role="button">Login</a>
            <a href="/users/add" id="sign_up_button" target="_parent" type="submit" name="signup" value="Sign Up" data-inline="true" data-theme="a" data-role="button">Sign Up</a>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <div id="event_detail_content" class="box" data-role="content">
    <h3 id="event-title"></h3>
    <div id="event-category"></div>
    <div id="event-address"></div>
    <div id="event-description"></div>
    <div id="event-time-range"></div>
    <div id="event-price-range"></div>
    <div id="event-num-participants"></div>

    <div id="invite_friends_right">
      <label for="invitedFriends"><h3>Invite More Friends:</h3></label>
      <textarea name="textarea" id="invitedFriends"></textarea>
    </div>

  </div>
</div><!-- End Page -->
