<!--Event Detail Page -->
<div data-role="page" class="event_detail_page">
  <script type='text/javascript'>
    var username = '<%= user.username %>';
    var userId = '<%= user.id %>';
    
    function removeEvent(jsonData) {  
      $("#removeEventButton").click(function() {
        eventUserData = {};
        eventUserData.eventid = jsonData.id;
        eventUserData.userid = userId;
        $.ajax({
            type: 'GET',
            url: '/events/removeuser',
            data: eventUserData,
            contentType: "application/json",
            dataType: "json",
            success: function(respData) {
              window.location = '/events/myevents';
            },
            failure: function(err) {
                console.log('Failure');
            }
        });
      });
    }

    function addComment(jsonData) {
      $('#addCommentButton').click(function() {
        //Make sure text isn't the default
        console.log("currentValue = " + $('#commentTextarea').val() + " and defaultValue = " + document.getElementById("commentTextarea").defaultValue);
        if ($('#commentTextarea').val() !== document.getElementById("commentTextarea").defaultValue){
          commentData = {};
          commentData.eventid = jsonData.id;
          commentData.userid = userId;
          commentData.text = $('#commentTextarea').val();
          $.ajax({
              type: 'POST',
              url: '/comments/add',
              data: JSON.stringify(commentData),
              contentType: "application/json",
              dataType: "json",
              success: function(respData) {
                console.log('Success');
                console.log(respData);
                var commentDict = {};
                commentDict.text = commentData.text;
                commentDict.userid = username;
                handleGetCommentsResponse([commentDict], true);

                //Set default text again
                $('#commentTextarea').val(document.getElementById("commentTextarea").defaultValue);
              },
              failure: function(err) {
                console.log('Failure');
              }
          });
        }
      });
    }
  </script>
  <!-- Include the eventDetail js -->
  <%- scriptLink('/js/event/eventDetail.js', {type:'text/javascript'}) %>
  <!--Navigation Bar-->
  <%- partial('../main/navBar', {form: {type: 'navbar'}, params: params, user: user}) %>

  <div id="event_detail_content" class="box" data-role="content">
    <div id="event-header" class="ui-grid-a">
      <div class="ui-block-a">
        <h3 id="event-title"></h3>
      </div>
      <div class="ui-block-b">
        <button id="removeEventButton" value="Remove" data-role="button" data-mini="true" data-inline="true" data-icon="delete">Remove</button>
      </div>
    </div>
    <div id="event-category"></div>
    <div id="event-address"></div>
    <div id="event-description"></div>
    <div id="event-date-range"></div>
    <div id="event-time-range"></div>
    <div id="event-price-range"></div>
    <div id="event-num-participants"></div>
    <div id="event-participants"></div>

    <!-- Invite Friends -->
    <div id="invite_friends_right">
      <label for="invitedFriends"><h3>Invite More Friends:</h3></label>
      <textarea name="textarea" id="invitedFriends"></textarea>
    </div>

    <input id="inviteFriendsButton" type="button" value="Invite More Friends" data-role="button" data-icon="plus" data-theme="b">
    <!-- End Invite Friends -->

    <!-- Comments -->
    <div id="comments_box">
      <h3>Comments</h3>
      <div id="add_comment">
        <textarea name="textarea" id="commentTextarea" defaultValue="Add a comment!">Add a comment!</textarea>
      </div>
    </div>

    <input id="addCommentButton" type="button" value="Add A Comment" data-role="button" data-icon="plus" data-theme="b">
    <br />
    <div id="comments_list"></div>
    <!-- End Comments -->


  </div>
</div><!-- End Page -->
