<!--Event Detail Page -->
<div data-role="page" class="event_detail_page">
  <script type='text/javascript'>
    function removeEvent(jsonData) {
      console.log("BLAHHHH");
      console.log(jsonData);
      var userName = '<%= user.username %>';
      $("#removeEventButton").click(function() {
        eventUserData = {};
        eventUserData.eventid = jsonData.id;
        eventUserData.userid = userName;
        console.log(eventUserData);
        $.ajax({
            type: 'GET',
            url: '/events/removeuser',
            data: eventUserData,
            contentType: "application/json",
            dataType: "json",
            success: function(respData) {
              window.location = '/events/myevents';
            },
            failure: function(err) {
                console.log('Failure');
            }
        });
      });
    }
  </script>
  <!-- Include the eventDetail js -->
  <%- scriptLink('/js/event/eventDetail.js', {type:'text/javascript'}) %>
  <!--Navigation Bar-->
  <%- partial('../main/navBar', {form: {type: 'navbar'}, params: params, user: user}) %>

  <div id="event_detail_content" class="box" data-role="content">
    <div id="event-header" class="ui-grid-a">
      <div class="ui-block-a">
        <h3 id="event-title"></h3>
      </div>
      <div class="ui-block-b">
        <button id="removeEventButton" value="Remove From My Events" data-role="button" data-mini="true" data-inline="true" data-icon="delete">Remove From My Events</button>
      </div>
    </div>
    <div id="event-category"></div>
    <div id="event-address"></div>
    <div id="event-description"></div>
    <div id="event-time-range"></div>
    <div id="event-price-range"></div>
    <div id="event-num-participants"></div>

    <div id="invite_friends_right">
      <label for="invitedFriends"><h3>Invite More Friends:</h3></label>
      <textarea name="textarea" id="invitedFriends"></textarea>
    </div>

    <!--Comments-->
    <div id="comments_box">
      <h3>Comments</h3>
      <div id="add_comment">
          <textarea name="textarea" id="comment_textarea">Add a comment!</textarea>

      </div>
    </div>
    <!--End Comments-->

    <input id="inviteFriendsButton" type="button" value="Invite More Friends" data-role="button" data-icon="home" data-theme="b">

  </div>
</div><!-- End Page -->
