
<!--My Events Page -->
<div data-role="page" class="myevents_page">
<!-- Include the myevents js -->
<%- scriptLink('/js/event/myEvents.js', {type:'text/javascript'}) %>

  <!--Navigation Bar-->
  <%- partial('../main/navBar', {form: {type: 'navbar'}, params: params, user: user}) %>

  <div id="myevent_content" class="box" data-role="content">
    <h2 id="my_events_title">My Events</h2>
    <h3>Current Events</h3>
    <div id="my_events_current"></div>
    <h3>Past Events</h3>
    <div id="my_events_past"></div>

  </div>
</div><!-- End Page -->
