<!--Activity Detail Page -->
<div data-role="page" class="activity_detail_page">
  <!-- Include the activityDetail js -->
  <%- scriptLink('/js/activity/activityDetail.js', {type:'text/javascript'}) %>
  <!--Navigation Bar-->
  <%- partial('../main/navBar', {form: {type: 'navbar'}, params: params, user: user}) %>

  <div id="activity_detail_content" class="box" data-role="content">
    <div id="activity-header" class="ui-grid-a">
      <div class="ui-block-a">
        <h3 id="activity-title"></h3>
      </div>
      <div class="ui-block-b">
        <button id="add-to-my-event-button" value="Add To My Event" data-role="button" data-mini="true" data-inline="true">Add To My Events</button>
      </div>
    </div>
    <div id="activity-category"></div>
    <div id="activity-address"></div>
    <div id="activity-description"></div>
    <div id="activity-time-range"></div>
    <div id="activity-price-range"></div>
    <div id="activity-num-participants"></div>
  </div>
</div><!-- End Page -->
