<div class="hero-unit">
  <form id="activity-form" class="form-horizontal" action="/activities" method="POST">
    <fieldset>
      <legend>Create a new Activity</legend>
      <% if (params.errCode){ %>
        <div class="errorMessage" >
        <% if (params.errCode == 6){ %>
           <p> You are missing a required field. Please fill out all of the fields and try again. </p>
        <% } %>
        </div>
      <% } %>
      <% if(params.errors) { %>
      <div class="control-group">
        <ul>
        <% for(var err in params.errors) { %>
          <li><%= params.errors[err]; %></li>
        <% } %>
        </ul>
      </div>
      <% } %>

      <%- partial('form', {activity: {}}) %>

      <div class="form-actions">
        <%- contentTag('input', 'Add', {type: 'submit', class: 'btn btn-primary'}) %>
      </div>
    </fieldset>
  </form>
</div>
