<div class="hero-unit">
  <h2>All Activities</h2>
  <%- linkTo('Create a new Activity', addActivityPath, {class: 'btn pull-right'}); %>
</div>

<div id="activities-list">
<% if (activities) { %>
<% for (var i = 0, ii = activities.length; i < ii; i++) { %>
  <div class="row list-item" id="activity-<%= activities[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(activities[i].name, activityPath(activities[i].id)); %></h3>
    </div>
    <div class="span4">
      <h3><i class="icon-list-alt"></i><%= activities[i].id; %></h3>
    </div>
  </div>
<% } %>
<% } %>
</div>