<div data-role="page" id="list_activities_container">
	<div id="suggested_activities" data-role="content" class="box">
		<button id="back_button" type="submit" value="Back" data-role="button" data-icon="home" data-theme="b">Back</button>
		
	  	<h3>Suggested Activities</h3>
	  	<center>
	  	<div id="list_activities">
	  	</div>
	  	</center>
  	</div>
</div>